.input-container {
  display: flex;
  justify-content: center; /* Center horizontally */
}

.input {
  padding: 10px 20px;
  margin-bottom: 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px; /* Adjust width as needed */
}
